/* Apparatus Waybar Style - Catppuccin Mocha
 * This is a copy of the system default. Edit freely.
 * Reset to defaults: cp /usr/share/apparatus/waybar/* ~/.config/waybar/
 *
 * Catppuccin palette: https://github.com/catppuccin/catppuccin
 */

@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    font-family: "Hack Nerd Font", "Font Awesome 6 Free", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: alpha(@base, 0.9);
    border-radius: 10px;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: @base;
    border: 1px solid @mauve;
    border-radius: 8px;
}

tooltip label {
    color: @text;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: @text;
    border-radius: 6px;
    margin: 3px 2px;
}

#workspaces button:hover {
    background: @surface1;
}

#workspaces button.active {
    background: @mauve;
    color: @base;
}

#workspaces button.urgent {
    background: @red;
    color: @base;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#submap {
    padding: 0 10px;
    margin: 3px 2px;
    background-color: @surface0;
    border-radius: 6px;
}

#window {
    padding: 0 10px;
    color: @text;
}

#clock {
    background-color: @mauve;
    color: @base;
}

#battery {
    background-color: @green;
    color: @base;
}

#battery.charging {
    background-color: @green;
    color: @base;
}

#battery.warning:not(.charging) {
    background-color: @yellow;
    color: @base;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @red;
    }
}

#cpu {
    background-color: @sapphire;
    color: @base;
}

#memory {
    background-color: @lavender;
    color: @base;
}

#network {
    background-color: @teal;
    color: @base;
}

#network.disconnected {
    background-color: @red;
    color: @base;
}

#pulseaudio {
    background-color: @yellow;
    color: @base;
}

#pulseaudio.muted {
    background-color: @surface2;
    color: @text;
}

#tray {
    background-color: @surface0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#submap {
    background-color: @peach;
    color: @base;
}
