[Desktop Entry]
Type=Application
Name=Apparatus First Login
Exec=kitty --class apparatus-setup -e /usr/libexec/apparatus/first-login.sh
X-GNOME-Autostart-enabled=true
NoDisplay=true
