[Unit]
Description=Check for Apparatus config updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/apparatus/check-config-updates
