---
name: build-apparatus-iso
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["build-apparatus-os"]
    types:
      - completed

env:
  IMAGE_NAME: "apparatus-os"
  IMAGE_REGISTRY: "ghcr.io/${{ github.repository_owner }}"
  # TODO: Look into using the official bootc-image-builder once Fedora 43 is supported
  # Official image: quay.io/centos-bootc/bootc-image-builder:latest
  BIB_IMAGE: "ghcr.io/lorbuschris/bootc-image-builder:20250608"

jobs:
  build_iso:
    name: Build ISO
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}

    permissions:
      contents: read
      packages: read

    steps:
      - name: Prepare environment
        run: |
          USER_UID=$(id -u)
          USER_GID=$(id -g)
          echo "IMAGE_REGISTRY=${IMAGE_REGISTRY,,}" >> ${GITHUB_ENV}
          echo "IMAGE_NAME=${IMAGE_NAME,,}" >> ${GITHUB_ENV}
          echo "USER_UID=${USER_UID}" >> ${GITHUB_ENV}
          echo "USER_GID=${USER_GID}" >> ${GITHUB_ENV}

      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@cc0becac701cf642c8f0a6613bbdaf5dc36b259e
        with:
          remove-codeql: true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build ISO
        id: build
        uses: osbuild/bootc-image-builder-action@main
        with:
          builder-image: ${{ env.BIB_IMAGE }}
          config-file: ./os/iso-config.toml
          image: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          chown: ${{ env.USER_UID }}:${{ env.USER_GID }}
          types: anaconda-iso
          additional-args: --use-librepo=True

      - name: Upload ISO artifact
        uses: actions/upload-artifact@v4
        with:
          name: apparatus-os-iso
          path: ${{ steps.build.outputs.output-directory }}
          retention-days: 7
