---
name: build-apparatus-iso
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["build-apparatus-os"]
    types:
      - completed

env:
  IMAGE_NAME: "apparatus-os"
  IMAGE_REGISTRY: "ghcr.io/${{ github.repository_owner }}"

jobs:
  build_iso:
    name: Build ISO
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}

    permissions:
      contents: read
      packages: read

    steps:
      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@cc0becac701cf642c8f0a6613bbdaf5dc36b259e
        with:
          remove-codeql: true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build ISO
        id: build
        uses: ublue-os/titanoboa@main
        with:
          image-ref: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          builder-distro: fedora
          livesys: false

      - name: Upload ISO artifact
        uses: actions/upload-artifact@v4
        with:
          name: apparatus-os-iso
          path: ${{ steps.build.outputs.output-path }}
          retention-days: 7
